<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageProcessing.MySetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImageProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImageProcessing.MyApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageProcessing.MySetting>
            <setting name="test" serializeAs="String">
                <value>0</value>
            </setting>
        </ImageProcessing.MySetting>
        <ImageProcessing.Properties.Settings>
            <setting name="ImgReadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImgSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataReadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImgBitDeep" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ImgHeight" serializeAs="String">
                <value>5120</value>
            </setting>
            <setting name="ImgWidth" serializeAs="String">
                <value>5120</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LengthMin" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LengthMax" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="PicBlockSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AreaMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaMax" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="CompressionRatio" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="PictureNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TerminateFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecModelFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </ImageProcessing.Properties.Settings>
        <ImageProcessing.MyApp>
            <setting name="ImgBitDeep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImgHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImgWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LengthMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LengthMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaMax" serializeAs="String">
                <value>0</value>
            </setting>
        </ImageProcessing.MyApp>
    </userSettings>
</configuration>